.latestGigContainer {
    margin: 40px 0px;
    .sliderDiv {
        @media screen and (max-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: center;
            .latestGigSlider{
                width: 90%;
            }
        }
    }
    h4 {
        font-family: Poppins-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        text-transform: capitalize;

        color: #333333;
    }
    .latestGigSlider {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .gigcard {
        width: 32%;
        padding-right: 10px;
    }
    .gigs {
        border-radius: 10px;
        overflow: hidden;
        min-height: 350px;
        background-color: #fcfcfc;
        .gigImage {
            height: 150px;
            width: 100%;
            background-color: black;
        }
        .gigContent {
            padding: 10px 20px;
            .name {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */

                text-transform: uppercase;

                color: #333333;
            }
            .smallText {
                font-size: 10px;
                margin: 0;
                margin-top: 2px;
            }
            .midText {
                font-size: 12px;
                margin: 0;
            }
            .BD-top {
                border-top: 2px solid #fede57;
            }
            .mar-left {
                margin-left: 10px;
            }
            .mar-right {
                margin-right: 10px;
            }
            .b-text {
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .soldTags {
                border: none;
                outline: none;
                font-size: 11px;
                font-weight: 600;
                padding: 4px 12px;
                width: 29%;
                border-radius: 5px;
                margin-right: 5px;
            }
        }
        .gigButton {
            float: right;
            margin-right: 17px;
            margin-bottom: 10px;
            background: none;
            border: none;
            outline: none;
            font-size: 12px;
            font-weight: 700;
        }
    }
    .activeDotmain {
        width: 30px;
        height: 30px;
        transition: 0.6s;
    }
    .activeDot {
        background-color: #333;
        width: 5px;
        transition: 0.6s;
        height: 5px;
        border-radius: 50%;
    }
    .slick-active {
        .activeDotmain {
            margin-left: -17px;
        }
        .activeDot {
            background-color: #fede57;
            width: 40px;
            height: 7px;
            border-radius: 32px !important;
        }
    }
    .slick-dots {
        ul {
            margin-top: 20px !important;
        }
    }
    .slick-arrow {
        svg {
            height: 30px;
            color: #00000066;
        }
        &.slick-prev {
            left: -10px;
            z-index: 4;
        }
        &.slick-next {
            right: -10px;
            z-index: 4;
        }
    }
}
h4{
    @media screen and (max-width:600px) {   
        padding: 0px 10px;
    }
}