.HeaderPage {
    padding: 10px 0px;
    .headerMainDiv {
        display: flex;
    }
    .headerSection1 {
        width: 15%;
        text-align: center;
        // h1{
        //     font-weight: 700;
        // }
    }
    .headerSection2 {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .roundedInput {
            border-radius: 20px;
            width: 100%;
            background-color: #fcfcfc;
            border: none;
            padding: 0px 20px;
            &::placeholder {
                color: #00000026;
                font-weight: 600;
                font-size: 14px;
            }
        }
        .buttonAddGig {
            border-radius: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                height: 12px;
                margin-right: 5px;
            }
        }
        .dropdown {
            width: 46%;
            button {
                width: 100%;
                align-items: center;
                justify-content: space-between;
                background-color: transparent !important;
                border-color: transparent !important;
                .profileDiv {
                    height: 30px;
                    width: 30px;
                    background: black;
                    border-radius: 50%;
                }
            }
            .dropdown-item {
                &:hover {
                    background-color: #fede57;
                }
            }
        }
    }
    #dropdownMenuButton {
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}
