.footerMainDiv{
    position: fixed;
    width: 100%;
    /* height: 30vh; */
    background: white;
    z-index: 9999;
    bottom: 0;
    .progress{
        height: 3px !important;
        .progress-bar{
            background: #FEDE57;
        }
    }
    .space-between{
        justify-content: space-between;   
    }
    .space-around{
        // justify-content: space-around;   
    }
    .contentDiv{
        padding:20px 10px;
        .trackMainDiv{
            align-items: center;
        }
        .ArtistImage{
            height: 40px;
            width: 40px;
            background-color: #333;
            margin-right: 10px;
        }
        .trackTitle{
            font-size: 14px;
            color: #333;
            font-weight: 600;
            margin: 0
        }
        .trackSlug{
            font-size: 10px;
            color: #333;
            font-weight: 400;
            margin: 0
        }
        .trackTime{
            font-size: 10px;
            color: #333;
            font-weight: 400;
            margin: 0
        }
        .right-gap{
            // margin-right: 15px;
        }
        .Icons{
            svg{
                height: 15px;
            }
        }
        .lightIcon{
            svg{
                color: #343a40;
            }
        }
        .playArrow{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                color: white;
            }
            background: #FEDE57;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }
}