@font-face {
  font-family: Poppins-Medium;
  src: url("./component/assests/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("./component/assests/Poppins/Poppins-Regular.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  // color: #333333;
}
.btn-warning {
  background-color: #fede57;
  border-color: #fede57;
}

.content-center {
  justify-content: space-between;
}
.footerpadding {
  padding-top: 120px;
}
.dropdown.open {
  .dropdown-menu {
    display: block;
    font-size: 12px;
    min-width: 100%;
    .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 10px;
    }
  }
}
.mainDivApp {
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.mainCenterDiv{
  @media screen and (max-width:600px){
    padding: 0px;
  }
}
