*{
  margin: 0px;
  padding: 0px;
  // color: #333333;
}
.btn-warning{
  background-color: #FEDE57;
  border-color: #FEDE57;
}
.bg-black{
  // background-color: black;
}
.content-center{
  justify-content: space-between;
}